.hero {
  padding: 8rem 2rem 1em;
}
.hero {
  padding: 8rem 2rem 1em;
}

.hero h1 {
  font-size: 3.875rem;
}

.hero h4 {
  color: #7d8ba9;
  font-weight: 300;
}

.hero .btn {
  margin-top: 1em;
}

.rounded {
  border-radius: 0.25rem !important;
}

.btnGradient {
  border-radius: 5px;
  background-color: transparent;
  background-image: linear-gradient(45deg, #5489ff, #8e60ff);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #fff;
  text-align: center;
}

.btnGradient:hover {
  -webkit-box-shadow: 0 2px 12px 2px #99a6b14a;
  box-shadow: 0 2px 12px 2px #99a6b14a;
  color: #fff;
}

.imgFluid {
  max-width: 100%;
  height: auto;
}

.bgLight {
  background-color: #f8f9fa !important;
}

.billing-card {
  border-color: rgba(132, 140, 152, 0.125);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.billing-card:hover {
  -webkit-box-shadow: 0 2px 12px 2px #99a6b14a;
  box-shadow: 0 2px 12px 2px #99a6b14a;
}

.rounded-top-left {
  border-top-left-radius: 1rem !important;
}

.rounded-bottom-right {
  border-bottom-right-radius: 1rem !important;
}

.navBackground {
  background: #fff;
}
.nav-link.active {
  color: #007bff;
  border-bottom: 3px solid #007bff;
}

.nav-link:hover {
  color: #007bff;
}

.navBackgroundScroll {
  border-bottom: 1px solid rgba(132, 140, 152, 0.125);
  background: #fff;
}

.navTitle {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbarTitle {
  margin-left: 3rem !important;
}

.navTitleScroll {
  margin-left: 3rem !important;
}

.sidebar .nav-item .active {
  color: #fff;
  background: #4866d8;
  border-radius: 2rem;
}
.sidebar .nav-link {
  color: #d8e1fe;
}

.space-md {
  padding-top: 110px;
  padding-bottom: 110px;
}

.bg-purple {
  background-color: #677bff;
}

.navbar-theme {
  font-weight: 500;
}

.bg-footer {
  margin-top: 3rem;
  color: #fff;
  background: #1b1642 !important;
}

.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
}

/* Admin route */

.App {
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.productCard {
  box-shadow: 0 0 24px rgba(27, 22, 66, 0.04),
    0 44px 74px rgba(27, 22, 66, 0.06);
}

.productCardShadow {
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
